body{
	background-color: black;
}

.button-1\.sıra {
	display: flex;
}

.button-1\.sıra input {
	background-color: #290b0b;
  color: White; 
	position: relative;
	height: 100px;
	width: 100px;
	margin: 10px;
	left: 75px; top: 50%;
	border: 0px;
	border-radius: 20px 0px 20px 0px;
}

.button-2\.sıra {
	display: flex;
}

.button-2\.sıra input {
	background-color: #290b0b;
  color: White; 
	position: relative;
	height: 100px;
	width: 100px;
	margin: 10px;
	left: 75px; top: 100%;
	border: 0px;
	border-radius: 20px 0px 20px 0px;
}

.button-3\.sıra {
	display: flex;
}
.button-3\.sıra input {
	background-color: #290b0b;
  color: White; 
	position: relative;
	height: 100px;
	width: 100px;
	margin: 10px;
	left: 75px; top: 150%;
	border: 0px;
	border-radius: 20px 0px 20px 0px;
}

input:hover {
	background-color: blue;
	border-radius: 50px;
	transition-duration: 500ms;
}
